@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap");
* {
  font-family: "Poppins", cursive;
}
body {
  color: azure;
  width: 100%;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* padding-top: -30; */
}

.botones {
  padding: 9px;
  border-radius: 80px;
  background-color: transparent;
  border: none;
}
.botones2 {
  padding: 9px;
  border-radius: 80px;
  background-color: transparent;
  border: none;
}
.botones3 {
  padding: 9px;
  border-radius: 80px;
  background-color: transparent;
  border: none;
}
.botones4 {
  padding: 9px;
  border-radius: 80px;
  background-color: transparent;
  border: none;
}

.botones a {
  background-color: #580ae9;
  padding: 9px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}
.botones2 a {
  background-color: #e90ac4;
  padding: 9px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}
.botones3 a {
  background-color: #ff9900;
  padding: 9px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}
.botones4 a {
  background-color: #ff0000;
  padding: 9px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.botones a:hover {
  background-color: #391779;
}
.botones2 a:hover {
  background-color: #791758;
}
.botones3 a:hover {
  background-color: #794b17;
}
.botones4 a:hover {
  background-color: #791717;
}

.greetings {
  font-size: 7rem;
  font-weight: 900;
}
.greetings > span {
  animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 12px #00e5ff, 0 0 50px #00e5ff, 0 0 100px #00e5ff;
  }
  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}
.greetings > span:nth-child(2) {
  animation-delay: 0.2s;
}
.greetings > span:nth-child(3) {
  animation-delay: 0.4s;
}
.greetings > span:nth-child(4) {
  animation-delay: 0.6s;
}
.greetings > span:nth-child(5) {
  animation-delay: 0.8s;
}
.greetings > span:nth-child(6) {
  animation-delay: 1s;
}
.greetings > span:nth-child(7) {
  animation-delay: 1.2s;
}
.greetings > span:nth-child(8) {
  animation-delay: 1.4s;
}
.greetings > span:nth-child(9) {
  animation-delay: 1.6s;
}
.greetings > span:nth-child(10) {
  animation-delay: 1.8s;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.button a {
  text-decoration: none;
  font-size: 1rem;
  color: #111;
}

@media screen and (max-width: 574px) {
  .greetings {
    display: block;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
  }
  .description {
    font-size: 2rem;
  }

  .button a {
    font-size: 1rem;
  }
}
